<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>Product Details</h1>

<!--/*@thymesVar id="product" type="org.pk.lab4.model.Product"*/-->
<table>
    <tr>
        <td><b>ID:</b></td>
        <td><span th:text="${product.id}"></span></td>
    </tr>
    <tr>
        <td><b>Name:</b></td>
        <td><span th:text="${product.name}"></span></td>
    </tr>
    <tr>
        <td><b>Description:</b></td>
        <td><span th:text="${product.description}"></span></td>
    </tr>
    <tr>
        <td><b>Quantity:</b></td>
        <td><span th:text="${product.quantity}"></span></td>
    </tr>
    <tr>
        <td><b>Price:</b></td>
        <td><span th:text="${product.price}"></span></td>
    </tr>
    <tr>
        <td><b>Weight:</b></td>
        <td><span th:text="${product.weight}"></span></td>
    </tr>
    <tr>
        <td><b>Availability:</b></td>
        <td><span th:text="${product.available} ? 'Available' : 'Unavailable'"></span></td>
    </tr>
    <tr>
        <td><b>Category:</b></td>
        <td><span th:text="${product.productCategory}"></span></td>
    </tr>
    <tr>
        <td><b>Creation date:</b></td>
        <td><span th:text="${product.dateAdded}"></span></td>
    </tr>
    <tr>
        <td><b>Last update date:</b></td>
        <td><span th:text="${product.dateLastUpdate}"></span></td>
    </tr>
</table>

<a th:href="@{/products/list/edit/{id}(id=${product.id})}">Edit</a>
<a th:href="@{/products/list/delete/{id}(id=${product.id})}">Remove</a>
<h1></h1>
<a th:href="@{/products/list}">Go back to product list</a>

</body>
</html>
