<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>Product List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Availability</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="product : ${products}">
        <!--/*@thymesVar id="product" type="org.pk.lab4.model.ProductSummary"*/-->
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.available} ? 'Available' : 'Unavailable'"></td>
        <td>
            <a th:href="@{/products/list/details/{id}(id=${product.id})}">Details</a>
            <a th:href="@{/products/list/delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure you want to delete this product?')">Remove</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/products/list/create}">Add new Product</a>

</body>
</html>
